! Font
URxvt*font:     xft:Source Code Pro Medium:size=12
URxvt*boldFont: xft:Source Code Pro Medium:size=12

! Disable scrollbar
URxvt.scrollBar: false

! special
*.foreground:   #faebd7
*.background:   #000000
*.cursorColor:  #faebd7

! black
*.color0:       #101010
*.color8:       #909090

! red
*.color1:       #e84f4f
*.color9:       #f00f0f

! green
*.color2:       #99d97e
*.color10:      #0ce819

! yellow
*.color3:       #dea855
*.color11:      #e3e910

! blue
*.color4:       #4264fa
*.color12:      #136ff1

! magenta
*.color5:       #9f72ee
*.color13:      #ae3bd7

! cyan
*.color6:       #6d878d
*.color14:      #387d8c

! white
*.color7:       #dddddd
*.color15:      #dddddd
